<p class="text-xs-center">Войдите для работы</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control underlined" id="email" placeholder="Введите ваш email"
            formConteolName="email" name="email">
        <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
            Error
        </span>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control underlined" id="password" placeholder="Пароль"
            formConteolName="password" name="password">
            <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
                Error
            </span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">Войти</button>
    </div>
    <div class="form-group">
        <p class="text-muted text-xs-center">
            Нет аккаунта? <a href="#">Зарегистрироваться!</a>
        </p>
    </div>
</form>